body {
  background: #333333;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  font-size: 14pt;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.monitor {
  background: #000000;
  border: 10px solid #444444;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 600px;
}

.content {
  background: #000000;
  overflow: auto;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#input {
  outline: none;
  border: none;
  background: none;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  font-size: 14pt;
  flex-grow: 1;
}