@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1e1f20;
  color: #e8eaed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box {
  display: flex;
  background-color: #0e0e0e;
  border-radius: 30px;
  padding: 40px 50px;
  width: 1030px;
  height: 41vh;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.left-section {
  width: 35%;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  margin-bottom: 25px;
}

h1 {
  font-weight: 300;
  font-size: 45px;
  margin-bottom: 8px;
}

.subtitle {
  color: #ffffff;
  font-size: 16px;
}

.right-section {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}

input {
  background: transparent;
  border: 1px solid #5f6368;
  border-radius: 4px;
  padding: 12px 10px;
  color: #fcfcfc;
  margin-bottom: 10px;
  outline: none;
  font-size: 15px;
}

input:focus {
  border-color: #8ab4f8;
}

.link {
  color: #8ab4f8;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 20px;
}

.link:hover {
  text-decoration: underline;
}

.small {
  font-size: 14px;
  color: #aca7a7;
  margin: 15px 0;
  line-height: 1.5;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.create-account {
  color: #8ab4f8;
  text-decoration: none;
  font-size: 14px;
  margin-left: 57%;
}

.create-account:hover {
  text-decoration: underline;
}

.next-btn {
  background-color: #a8c7fa;
  color: rgb(6, 55, 129);
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-btn:hover {
  background-color: #4285f4;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px; /* same as .login-box width */
  margin-top: 30px;
  font-size: 13px;
  color: #aab0b6;
}

footer a {
  color: #9aa0a6;
  text-decoration: none;
  margin-left: 20px;
}

footer a:hover {
  text-decoration: underline;
}

.footer-links {
  display: flex;
  align-items: center;
}




.footer-links {
  display: flex;
  align-items: center;
}
