*:focus,
a:focus {
    outline: none;
}

html {
    font-size: 10px;
}

body {
    font-family: apercu;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143 !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-variant-ligatures: none;
    margin-top: 40px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: #5b6770;
}

a {
    color: #dd0031;
    text-decoration: none;
}

.navbar {
    -webkit-box-shadow: 0 5px 6px -6px #999;
    -moz-box-shadow: 0 5px 6px -6px #999;
    box-shadow: 0 5px 6px -6px #999;
    position: relative;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    padding: 3.5rem 1.5rem 0rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: var(--space-800, 2rem);
    flex: 1 0 0;
    align-self: stretch;
}

.welcome-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #004F71;
    max-width: 465px;
    width: 100%;
    margin: 0;
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}

.welcome-text-container h1 {
    font-family: 'Apercu', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.09rem;
    margin: 0;
    color: inherit;
}

.welcome-text-container h2 {
    font-family: 'Apercu', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.06rem;
    margin: 0.5rem 0 0 0;
    color: inherit;
}

.sign-in-links-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    max-width: 544px;
    margin: 0;
    width: 100%;
}

.sign-in-item {
    flex: 1 1 260px;
}

.social-button {
    border-radius: 25px;
    color: #485259;
    width: 100%;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.56px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    cursor: pointer;
}

.social-button._btn-google {
    margin-bottom: 24px;
}

.social-button._btn-google img {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

.social-button._btn-apple {
    margin-bottom: 32px;
}

.social-button._btn-apple img {
    height: 26px;
    width: 26px;
    margin-right: 10px;
}

.social-button._btn-google div,
.social-button._btn-apple div {
    display: inline-block;
    color: #DD0031;
}

.social-button-a {
    text-decoration: none;
}

.social-button-a:hover {
    text-decoration: none;
    color: #485259;
}

.social-button:hover {
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in-out;
}

hr.dotted {
    border: 1px solid #CCCCCC;
    margin: 32px auto auto;
    max-width: 448px;
}

hr.dotted._text-center {
    margin-top: 36px;
}

.forgot-pw-container {
    padding: 10px 0 0 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;

}

.forgot-pw {
    font-family: "caecilia", sans-serif;
    font-weight: 650;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #dd0031;
    text-decoration: none;
    margin-left: auto;
}

.sign-up {
    /* margin-top: 32px; */
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.sign-up a {
    text-decoration: underline;
}

.form-container>div:has(.web-login-footer) {
    width: 100%;
    margin: 0;
}

.web-login-footer {
    color: #6D787E;
    font-size: 12px;
    font-weight: 400;
    font-family: 'apercu';
    line-height: 16px;
    letter-spacing: -0.3px;
    margin-top: 0;
    width: 100%;
    text-align: center;
}

.web-login-footer span {
    white-space: nowrap;
}

.btn--vis {
    background: linear-gradient(180deg, #FF033B 0%, #CA0F1A 100%);
    border-radius: 24px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "apercu", sans-serif;
    font-weight: 700;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    line-height: 24px;
    padding: 12px 24px;
    text-transform: none;
    transition: all 0.5s ease-in-out;
    margin: 16px 0 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    letter-spacing: -0.56px;
}

.btn--vis:hover {
    background: linear-gradient(180deg, #BF032D 0%, #980B14 100%);
    border-radius: 24px;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in-out;
}

.btn--vis:active {
    background: linear-gradient(180deg, #BF032D 0%, #980B14 100%);
    border-radius: 24px;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in-out;
}

.btn--vis:focus {
    background: linear-gradient(180deg, #FF033B 0%, #CA0F1A 100%);
    border: 4px solid #FFFFFF;
    box-shadow: 0px 0px 5px #AF272F;
    border-radius: 24px;
    color: #fff;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in-out;
}

#login-form {
    max-width: 55rem;
    margin: 0;
    width: 100%;
}

.form-group-1 {
    position: relative;
    margin-top: 16px;
}

.textbox-input-1 {
    padding: 22px 15px 0 15px;
    border: 1px solid #5B6770;
    border-radius: 6px;
    display: block;
    height: 62px;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #6D787E;
}

.textbox-input-1::placeholder {
    color: #6D787E;
}

.textbox-label-1 {
    position: absolute;
    top: 10px;
    left: 18px;
    color: #485259;
    font-size: 1.2rem;
    font-weight: 400;
}

.text-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
    width: 100%;
    color: #004F71;
    font-size: 1.6rem;
}

.text-divider::before,
.text-divider::after {
    content: '';
    flex: 1;
    border-top: 1.5px solid #CADBE2;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}

@media only screen and (max-width: 768px) {
    .social-button {
        max-width: 100%;
    }

    .welcome-text-container {
        margin-bottom: 3.5rem;
    }


    .welcome-text-container h2 {
        margin-top: 3.5rem;
    }

    .btn--vis {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 680px) {
    .form-container {
        margin: auto 25px;
    }
}

@media only screen and (max-width: 480px) {
    .form-container {
        min-width: auto;
        width: auto;
    }

    .welcome-text-container h1 {
        font-size: 3.6rem;
        line-height: 1.2;
        letter-spacing: -0.05rem;
    }

    .welcome-text-container h2 {
        font-size: 1.8rem;
        line-height: 1.3;
        letter-spacing: -0.04rem;
        margin-top: 0.25rem;
    }

    .social-button._btn-google {
        margin-bottom: 16px;
    }

    .social-button._btn-apple {
        margin-bottom: 30px;
    }

    hr.dotted {
        border-top: 1px solid #CCCCCC;
        margin: 30px 0 0;
    }

    hr.dotted._text-center {
        margin-top: 30px;
    }

    .form-group-1:nth-child(2) {
        margin-top: 24px;
    }

    .cp-checkbox label {
        font-size: 1.1rem;
        padding: 0 0 0 20px;
    }

    .cp-checkbox label::before {
        width: 14px;
        height: 14px;
    }

    .btn--vis {
        margin: 17px 0 0 0;
    }

    .web-login-footer {
        font-size: 14px;
        width: auto;
    }
}

.split-screen-container {
    display: flex;
    width: 100%;
}

.image-container {
    flex: 1;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.welcome-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .image-container {
        display: none;
    }


    .form-container {
        flex: 1;
        max-width: 100%;
        margin: auto 25px;
        padding: 2rem 25px;
    }

    .split-screen-container {
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    .form-container {
        padding: 2rem 25px;
    }

    #login-form,
    .welcome-text-container,
    .sign-in-links-container,
    .text-divider,
    .sign-up,
    .form-container>div:has(.web-login-footer) {
        margin-left: 0;
        margin-right: 0;
    }

    .footer-content {
        width: 50%;
        margin-left: 50%;
        padding-left: 25px;
        padding-right: 25px;
        box-sizing: border-box;
    }
}

#content {
    margin: 0 auto;
    flex: 1;
}

#header {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#footer {
    /* width: 100%; */
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-top: auto; */
}