/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: var(--font-main);
  background-color: rgba(49, 51, 56, 1);
  line-height: 1;
  overflow: hidden;
  user-select: none;
  font-weight: inherit;
  font-style: inherit;
  display: flex;
  align-items: center;
}


p {
  line-height: 1.25;
  vertical-align: baseline;
}

h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;

  color: var(--headline-color);
}

h2 {
  color: var(--headline-color);
  font-size: 24px;
  font-family: inherit;
  font-weight: 600;
}

p {
  line-height: 20px;
  font-family: inherit;
  color: var(--normal-text-color);
  font-size: 16px;
  font-weight: 400;
}

input {
  background: var(--input-bg);
  font-family: inherit;
  color: var(--input-color);
  border-radius: 3px;
  padding: 10px;
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

a {
  color: var(--link-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.login-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.svg-logo-text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
}

.authBox {
  width: 100%;
  padding: 20px;

  .right-section {
    .login-container {
      flex-direction: column;
      text-align: center;
        svg {
          width: 160px;
          height: 160px;
        }
      }

      h2 {
        margin-bottom: 8px;
        line-height: 1.25;
        font-weight: 600;
        font-size: 24px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
      }
      a {
        padding: 2px 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .main-form {
    gap: 20px;
    align-items: center;

    .main-form-header {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
    }

    form {
      .input-groups {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: wrap-reverse;
        align-items: center;
      }

        .email-wrapper,
        .password-wrapper {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;

          label {
            color: var(--label-color);
            font-weight: 700;
            font-size: 12px;
            line-height: 1.3333333333333333;

            span {
              color: var(--required-color);
            }
          }
        }
      }

      .forgot-password {
        margin-top: 4px;
        margin-bottom: 20px;

        a {
          font-size: 14px;
          font-weight: 500;
        }
      }

      .login {
        button {
          width: 100%;
          background: var(--btn-bg);
          color: #fff;
          padding: 2px 16px;
          border: none;
          outline: none;
          border-radius: 3px;
          line-height: 24px;
          font-family: inherit;
          font-size: 16px;
          height: 44px;
          cursor: pointer;
          font-weight: 500;
          transition: background-color 0.17s ease;
        }

        margin-bottom: 12px;
      }

      .small-register {
        display: flex;
        gap: 4px;

        a {
          font-size: 14px;
          font-weight: 500;
        }
        span {
          color: var(--need-account);
          font-size: 14px;
          font-weight: 400;
        }
      }
    }


